<ion-view  title='<b>Change Password</b>'>
 <ion-nav-bar class="bar-positive">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
    <ion-content overflow-scroll="true" padding="true" scroll="true" class="has-header stable-bg">
    <div class="list card">
        <div class="item item-body"><p class="copy">Please enter your current password and your intended new password.</p></div>
    </div>
        <div class="list card">
        <div class="item item-body">
        <form name="form" class="list change-password" novalidate>
             <four-input type="password" required name="currentPassword" ng-model="model.currentPassword" placeholder="current password"></four-input>
             <span  ng-show="form.currentPassword.$invalid && form.currentPassword.$touched" class="error-msg">Password is required</span>
             <four-input type="password" name="password" ng-model="model.newPassword" multi-regex="model.passwordPatterns" placeholder="new password"></four-input>
                         <ul>
            <li><span  ng-show="form.password.$invalid && form.password.$touched" class="error-msg">Password is invalid</span></li>
                                <li ng-repeat="policy in model.passwordPatterns" ng-show="form.password.$error[policy.name]"><span class="error-msg">{{policy.message}}</span></li>
            </ul>
             <four-input type="password" required name="confirmPassword" ng-model="model.confirmPassword" placeholder="confirm password"></four-input>
             <span  ng-show="form.confirmPassword.$touched && model.confirmPassword !== model.newPassword" class="error-msg">Passwords do not match</span>
             <button ng-click="model.changePassword()" ng-disabled="form.$invalid || model.confirmPassword !== model.newPassword" class="button button-block button-assertive">
                 SAVE
             </button>
        </form>
        </div>
        </div>
    </ion-content>
</ion-view> 