<ion-view title="<b>Rate Club</b>" cache-view="false" >
 <ion-nav-bar class="bar-positive">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
    <ion-content overflow-scroll="true" padding="true" scroll="true" class="has-header stable-bg">
        <div class="list card">
        <div class="item item-body">
        <form name="form" class="list" novalidate>
              <p class="push-message"><ng-bind-html ng-bind-html="model.message.full_message"></ng-bind-html></p>
              <ion-list ng-if="model.message.locations.length > 0">
              <ion-radio ng-repeat="option in model.message.locations" ng-model="model.message.location" ng-value="option.name">{{option.display_name}}</ion-radio>
              </ion-list>
              <ng-rating style="text-align: center;" class="large-rating" ng-model="model.rating"  start-count="1" based-on="5" editable="true" icon-class="'ion-star'"></ng-rating>

              <four-input ng-model="model.comments" placeholder="comments"></four-input>
              <button type="submit" ng-disabled="!form.$valid || model.busy || !model.rating" class="button button-block button-assertive  icon-right ion-paper-airplane" ng-click="model.setRate()">
              <span ng-if="!model.rating">Rate</span>
             	<span ng-if="model.rating == 5">lit <i style="color:black" class="icon ion-flame"></i></span>
             	<span ng-if="model.rating <= 1">Dead <i class="icon ion-sad-outline"></i></span>
             	<span ng-if="model.rating > 1 && model.rating < 5">OK <i class="icon ion-happy-outline"></i></span>
             </button>
        </form>
        </div>
        </div>
    </ion-content>
</ion-view> 