  <ion-popover-view>
  <ion-content scroll="true" class="padding">
  <div class="popover-inner-content">
  <ul class="list">
  	<a ui-sref="home.account" ng-click="model.popover$close()" class="item ">Account</a>
  	<a ui-sref="home.change-password">Change Password</a>
  	<a ng-click="model.logout()" class="item">Logout</a>
  </ul></div>
</ion-content>
</ion-popover-view>

