<ion-view  ng-mousedown="hideMenu($event)">
<ion-nav-title>
<span style='font-family:titlefont'>the<b>four</b>one-one<span>
</ion-nav-title>
<ion-nav-buttons side="right">
<button class="button button-clear" ng-if="model.pendingNotifications() > 0" ui-sref="home.notification-center">
  <i class="icon ion-android-notifications"></i>
  <span  class="notification-badge badge badge-assertive"></span>
</button>
<button class="button button-clear" ui-sref="home.search-for-place">
  <i class="icon ion-search"></i>
</button>
<button class="button button-clear" ng-click="openMenu($event)">
  <i class="icon ion-android-more-vertical"></i>
</button>
</ion-nav-buttons>

<ion-floating-button click="model.goToUploadNewPlace()" has-footer="false" button-color="#ef473a" icon="ion-plus" icon-color="#fff"></ion-floating-button>
<ion-content   scroll="true" overflow-scroll="true" has-bounce="false" class="has-header stable-bg">
<ion-refresher spinner="spiral" pulling-icon="ion-ios-refresh-outline"
on-refresh="model.pull()">
</ion-refresher>
<div ng-repeat="place in model.places" ng-click="model.goToPlace(place)" class="item card-item">
  <div ng-class="['card' ,'ink ink-dark']">
    <div ng-if="place.user_maybe_in_location"><span class="possible-location" ><i class="ion-pin"></i></span></div>
    <div class="item item-avatar item-text-wrap">
      <span class="avatar" back-img="{{place.pic}}"></span>
      <strong>{{place.display_name}}</strong> <ng-rating ng-model="place.rating" show-grade="false" class="small-rating" based-on="5" start-count"1"  editable="false" icon-class="'ion-star'"></ng-rating>
      <p>{{place.description}}</p>
      <p class="subdued">{{place.address}}</p>
      <div class="card-footer text-right">
       <div >
        <span ng-if="!place.user_maybe_in_location" ><i class="icon ion-android-car"></i> {{place.distance|number:3}} km from you.</span>
        <span ng-if="place.user_maybe_in_location" ><i class="icon ion-eye"></i>&nbsp;should be visible to you.</span>
      </div>
    </div>
  </div>
</div>
</div>
<div ng-show="model.places && !model.places.length" class="card">
   <div class="item item-text-wrap">
    <h1 style="text-align: center;"><i class="icon ion-sad-outline"></i><br>It seems you may be too far away from any clubs. Please pull down to refresh.</h1>  
   </div>
</div>

</ion-content>
</ion-view>  