<ion-view >
    <div class="bar bar-header bar-positive">
       <h1 class="title pull-left">Forgot password</h1>
    </div>
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header content-positive">
        <form name="form" class="list" novalidate>
        <label>
            <four-input type="text" ng-pattern="emailPattern"  name="username" required placeholder="Email" ng-model="model.username" ></four-input>
            <span  ng-show="form.username.$error.required && form.username.$touched" class="error-msg">Email is required</span>
        </label> 
             <button type="submit" ng-disabled="form.$invalid || model.busy" class="button button-block button-assertive" ng-click="model.forgotPassword()">GO</button>
        </form>
    </ion-content>
</ion-view>