<ion-view >
    <ion-nav-bar class="bar-positive no-border" ng-class="{'bar-custom':lightBar}">
      <ion-nav-back-button>
      </ion-nav-back-button>
     <!--  <ion-nav-buttons side="left">
      </ion-nav-buttons> -->
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
</ion-view>

