
<ion-view cache-view="false">
<div  ng-show="!model.hasVerifiedSession" class="full-height bg"><ion-spinner icon="spiral" style="position: absolute;top:50%;left:45%"></ion-spinner></div>
    <ion-content overflow-scroll="true" ng-show="model.hasVerifiedSession" padding="true" scroll="false" class="bg">
        <form name="form" class="list login" novalidate>
            <img src="img/icon-text.png" class="app-icon">
            <div class="spacer" style="height: 40px;"></div>
           <!--  <ion-md-input placeholder="Username" ng-model="model.username" required   type="text"></ion-md-input>
            <ion-md-input placeholder="Password" ng-model="model.password" required  type="password"></ion-md-input> -->
           <four-input type="text"  name="Username" required placeholder="Email" ng-model="model.username" ></four-input>
           <four-input type="password"  name="password" required placeholder="Password" ng-model="model.password" ></four-input>
            <button ng-click="model.doLogin()" class="button button-block button-light" ng-disabled="!form.$valid|| model.busy" >Login</button>
            <div class="spacer" style="height: 5px;"></div> 
              <button  class="google-sign-in button button-block button-assertive ion-social-google icon-right" ng-click="model.doGoogleLogin()">Sign in with Google</button>
              <center class="link-parent"> <a class="link float-right"  native-ui-sref="forgot-password">Forgot Password?</a></center>             
              <center><a  class="link" native-ui-sref="registration">Dont have an account ? Register Now</a></center>
                

        </form>
    </ion-content>
</ion-view>