<ion-view >
 <ion-nav-bar class="bar-positive">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
    <ion-content overflow-scroll="true" padding="true" scroll="true" class="has-header stable-bg">
        <div class="list card">
        <div class="item item-body">
        <form name="form" class="list" novalidate>
              <p class="push-message"><ng-bind-html ng-bind-html="model.message.full_message"></ng-bind-html></p>
        </form>
        </div>
        </div>
    </ion-content>
</ion-view> 