<ion-view title='<b>New Club</b>' cache-view="false" >
 <ion-nav-bar class="bar-positive">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
    <ion-content overflow-scroll="true" padding="true" scroll="true" class="has-header stable-bg">
        <div class="list card">
        <div class="item item-body">
        <p class="copy">Please fill this form to submit a new club. <br /> <b>"You smart, we appreciate you."</b> <i class="icon ion-happy-outline"></i></p>
        </div>
    </div>
        <div class="list card">
        <div class="item item-body">
        <form name="form" class="list" novalidate> 
              <four-input required ng-model="model.name" placeholder="Name"></four-input>
              <four-input required ng-model="model.address" placeholder="Address"></four-input>
              <four-input ng-model="model.description" placeholder="Description"></four-input>              
              <img ngf-src="model.screenshot" style="height: 150px;width:150px;margin:2px auto;"  />
              <div class="button-bar"> 
                <button class="button button-outline icon-left ion-camera"  ng-click="model.openCamera()"> Camera</button>
                <button class="button button-outline icon-left ion-folder"  ngf-select="model.screenshot=$file">Select</button>
              </div>

              <button type="submit" ng-disabled="!form.$valid || model.busy || !model.screenshot || !model.location" class="button button-block button-assertive  icon-right ion-paper-airplane" ng-click="model.save()">
              SAVE
             </button>
        </form>
        </div>
        </div>
    </ion-content>
</ion-view>