<ion-view>
<ion-content scroll="true" padding="true" overflow-scroll="true" class="has-header">
<ion-list can-swipe="true">
<ion-item ng-click="model.readNotification(notification)"  ng-repeat="notification in model.notifications">
<!-- <div class="item item-text-wrap item-icon-right" > -->
  <!--   <i class="icon ion-ios-arrow-right"></i> -->
	<h2>{{notification.title}}</h2>
	<p>{{notification.message}}	</p>
<!-- </div>	
 -->    <ion-delete-button class="ion-minus-circled"
                       ng-click="model.notifications.splice($index, 1)">
    </ion-delete-button>
</ion-item>
</ion-list>
</ion-content>
</ion-view>