      <div class="list">
       <div ng-if="!model.busy && (!model.place||!model.place.ratings.length)" class="item item-text-wrap">
         <strong>Sorry there are no current ratings. When a user rates a club , the rating is visible for a period determined by us. This is so we can give you a better picture of what this club is actually like at that instance in time. <i class="ion-happy-outline"></i></strong>
       </div>
            <div ng-click="model.goToProfile(rating.username)" ng-repeat="rating in model.place.ratings" class="item item-text-wrap">
                <strong>{{rating.display_name}}</strong>
                <p>{{rating.comment}}</p>
                <ng-rating ng-model="rating.rating" icon-class="'ion-star'" show-grade="false" class="small-rating" based-on="5" start-count"1"  editable="false" ></ng-rating>
                <div>
                    <span class="subdued pull-right">{{rating.timestamp|from}}</span>
                </div>

            </div>
        </div>