<div  class="profile-info  ink ink-dark">
<!-- <div class="row no-border item item-text-wrap">
<div class="col col-10 "><span><i class="icon ion-ios-pint"></i></span></div>
<div class="col col-90 col-center"><strong>{{model.place.display_name}}</strong></div>
</div>  -->

<div class="row no-border item item-text-wrap">
<div class="col col-10"></div>
<div class="col col-90"><p>{{model.place.description}}</p></div>
</div> 

<div class="row no-border item item-text-wrap">
<div class="col col-10"><span><i class="icon ion-pin"></i></span></div>
<div class="col col-90"><p>{{model.place.address}}</p></div>
</div> 

<div class="row no-border item item-text-wrap">
<div class="col col-10"><span><i class="icon ion-clock"></i></span></div>
<div class="col col-90 col-center"><p>last rated {{model.place.rating_last_updated | from}}</p></div>
</div> 

<br>
<div class="row  item-divider item-text-wrap">
<div class="col funny-font"><strong>Share</strong></div>
</div>
<br>


<div ng-click="model.share(model.WHATSAPP)" class="row no-border item item-text-wrap">
<div class="col col-10"><span><i class="whatsapp icon ion-social-whatsapp"></i></span></div>
<div class="col col-90"><p>WhatsApp</p></div>
</div>
<div ng-click="model.share(model.FACEBOOK)" class="row no-border item item-text-wrap">
<div class="col col-10"><span><i class="facebook icon ion-social-facebook"></i></span></div>
<div class="col col-90"><p>Facebook</p></div>
</div>

<div ng-click="model.share(model.TWITTER)" class="row no-border item item-text-wrap">
<div class="col col-10"><span><i class="twitter icon ion-social-twitter"></i></span></div>
<div class="col col-90"><p>Twitter</p></div>
</div>

<div ng-click="model.share(model.OTHER)" class="row no-border item item-text-wrap">
<div class="col col-10"><span><i class="other icon ion-android-share-alt"></i></span></div>
<div class="col col-90"><p>Other</p></div>
</div>
<br>
<div class="row  item-divider item-text-wrap">
<div class="col funny-font"><strong>Location</strong></div>
</div>

<div class="row map no-border item ">
   <div class="col map">
   <img ng-click="model.openMap()" ng-src="{{model.place.map_url|map}}" />
   </div>
</div>




</div>
