<ion-view title="<b>Club Profile</b>">
<!--<ion-nav-bar class="bar-positive">
  <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar> -->
    <ion-content  scroll="true" class="has-header">
<!--       <ion-refresher
           spinner="spiral" pulling-icon="ion-ios-refresh-outline"
    on-refresh="model.pull()">
  </ion-refresher> -->
        <div class="hero"  back-img="{{model.place.pic}}">
        <div class="blur"></div>
        <div class="content-middle">
                 <button style="margin-top:-30%" class="button button-clear" ng-click="model.pull()"><i class="icon ion-ios-refresh-outline"></i></button><br>
                 <p style="margin-top: -10%">{{model.place.display_name}}</p>
                <ng-rating  class="medium-rating" ng-model="model.place.rating"  start-count="1" based-on="5" editable="false" icon-class="'ion-star'" >
                </ng-rating>
        </div> 
        </div>
        <div class="button-bar funny-font">
          <a ng-click="model.selectTab('place-info')" class="button button-outline"><b>INFO</b></a>
          <a ng-click="model.selectTab('place-comments')" class="button button-outline"><b>LIVE RATINGS</b></a>
        </div>
        <div style="height: 3px"></div>
        <div class="full-height" ui-view="content"></div>
    </ion-content>
</ion-view> 