<!-- <ion-view> -->
<ion-modal-view>
<!--  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar> -->
   <ion-header-bar class="bar bar-header bar-positive">
          <button class="button button-clear" ng-click="model.close()"><i class="icon ion-ios-arrow-back"></i></button><h1 class="title">Profile</h1>
   </ion-header-bar>
<ion-content padding="false" scroll="false">
  <div class="profile-content">
  	<div  class="full-height center">
    	<div class="number-circle-wrapper">
  		 <div class=" number-circle">{{model.info.ranking.value}} pts <br></div>
  		 <h3><strong class="funny-font"> {{model.info.display_name}}</strong></h3>
  		 <p class="ranking-description"><i ng-class="[model.info.ranking.icon]"></i> {{model.info.ranking.description}}</p>
  		 </div>
  	</div>
</div>
</ion-content>
</ion-modal-view>
<!-- </ion-view>  -->