<ion-view >
    <div class="bar bar-header bar-positive">
       <h1 class="title">Join</h1>
    </div>
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header content-positive">
        <div style="background-position: center;opacity: 0.3" back-img="'img/icon-text.png'"></div>
        <form name="form" class="list" novalidate>
        <label>
            <four-input type="text"  name="display_name" required placeholder="Display name" ng-model="model.display_name" ></four-input>
            <span  ng-show="form.display_name.$error.required && form.display_name.$touched" class="error-msg">Display name is required</span>
        </label>
        <label>
        	<four-input   ng-disabled="model.busy"   type="text" four-pattern="emailPattern" required placeholder="Email" ng-blur="model.checkIfUserExists()"  ng-model="model.username"></four-input>
        	<span ng-show="model.usernameError" class="error-msg">{{model.usernameError}}</span>
        </label>
        <label>

        	<four-input type="password" multi-regex="model.passwordPatterns"   name="password" required placeholder="Password" ng-model="model.password" ></four-input>
        	
            <ul>
            <li><span  ng-show="form.password.$invalid && form.password.$touched" class="error-msg">Password is invalid</span></li>
                                <li ng-repeat="policy in model.passwordPatterns" ng-show="form.password.$error[policy.name]"><span class="error-msg">{{policy.message}}</span></li>
            </ul>
        </label>
         <label> 
        	<four-input type="password" highlight="assertive" name="confirmPassword" required placeholder="Confirm Password" ng-model="model.confirmPassword" ></four-input>
        	<span ng-show="model.password!== model.confirmPassword && form.confirmPassword.$touched" class="error-msg">Passwords do not match</span>
        	<span ng-show="form.confirmPassword.$touched && form.confirmPassword.$error.required" class="error-msg">Password is required</span>
        </label> 

             <button type="submit" ng-disabled="form.$invalid || model.busy || model.usernameError || model.confirmPassword!==model.password || !model.passwordPatterns" class="button button-block button-assertive  icon-right ion-paper-airplane" ng-click="model.register()">Register</button>
        </form>
    </ion-content>
</ion-view>