<ion-view>
  <ion-nav-title>
      <input type="search" placeholder="Search by name or description" autofocus ng-model="model.query" ng-enter="model.search()">
  </ion-nav-title>  
<ion-content   scroll="true" overflow-scroll="true" has-bounce="false" class="has-header stable-bg">
<div ng-repeat="place in model.places" ng-click="model.goToPlace(place)" class="item card-item">
  <div ng-class="['card' ,'ink ink-dark']">
    <div ng-if="place.user_maybe_in_location"><span class="possible-location" ><i class="ion-pin"></i></span></div>
    <div class="item item-avatar item-text-wrap">
      <span class="avatar" back-img="{{place.pic}}"></span>
      <strong>{{place.display_name}}</strong> 
      <!-- <ng-rating ng-model="place.rating" show-grade="false" class="small-rating" based-on="5" start-count"1"  editable="false" icon-class="'ion-star'"></ng-rating> -->
      <p>{{place.description}}</p>
      <p class="subdued">{{place.address}}</p>
      <div class="card-footer text-right">
    <!--    <div >
        <span ng-if="!place.user_maybe_in_location" ><i class="icon ion-android-car"></i> {{place.distance|number:3}} km from you.</span>
        <span ng-if="place.user_maybe_in_location" ><i class="icon ion-eye"></i>&nbsp;should be visible to you.</span>
      </div> -->
    </div>
  </div>
</div>
</div>
<div ng-show="model.places && !model.places.length" class="card">
   <div class="item item-text-wrap">
    <p class="subdued" style="text-align: center;"><i class="icon ion-search"></i><br>No results.</p>  
   </div>
</div>

</ion-content>
</ion-view>  