<ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive">
          <button class="button button-clear" ng-click="model.close()"><i class="icon ion-ios-arrow-back"></i></button>
          <h1 class="title">{{model.title}}</h1>
        </ion-header-bar>
        <ion-content class="padding">
        <div class="list card">
        <div class="item item-body">
        <form name="form" class="list" novalidate>
              <p class="push-message"><ng-bind-html ng-bind-html="model.subText"></ng-bind-html></p>
              <ng-rating style="text-align: center;" class="large-rating" ng-model="model.rating"  start-count="0" based-on="5" editable="true" icon-class="'ion-star'"></ng-rating>
              <four-input ng-model="model.comments" placeholder="comments"></four-input>
              <button type="submit" ng-disabled="!form.$valid || model.busy || !model.rating" class="button button-block button-assertive  icon-right ion-paper-airplane" ng-click="model.setRate()">
              <span ng-if="!model.rating">Rate</span>
             	<span ng-if="model.rating == 5">lit <i style="color:black" class="icon ion-flame"></i></span>
             	<span ng-if="model.rating <= 1">Dead <i class="icon ion-sad-outline"></i></span>
             	<span ng-if="model.rating > 1 && model.rating < 5">OK <i class="icon ion-happy-outline"></i></span>
             </button>
        </form>
        </div>
        </div>
        </ion-content>
</ion-modal-view>
