// Added by chidi
.content-positive
{
  background-color: $positive;
  color: white;

}
.content-positive input,.login input{
	color:#C3C0C0 !important;
}
.content-positive input:focus,.login input:hover{
	color:white !important;
}
.content-positive span ,.login span {
	color:#C3C0C0;
}

.alt input.input-content {
	color:$positive;
}
.card {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.bar-positive:active,.bar-positive:hover {
	background-color:$positive !important;
}

/*.place-info span i {
	font-size:2em;
}
.place-info  {
	font-size:1.2em;
}*/

.profile-content {
	height:100%;
	background: -webkit-linear-gradient(top, $positive , #b6d9b2);
	color:whitesmoke;
}
.profile-content strong {
	color:whitesmoke;
}
.possible-location
{
    display: block;
    margin: 5px;
    height: 1em;
    width: 1em;
    color:white;
    line-height: 1em;
    -moz-border-radius: 0.5em; /* or 50% */
    border-radius: 0.5em; /* or 50% */
    background-color: $assertive;
    text-align: center;
    font-size: 1.5em;
}