.four-input-label
{
  display:block;
/*  color:gray;*/
/*  position:absolute;
  top:50%;
  left:0;*/
}
label{ 
  position:relative;
}
.input-label-focus {
  /*  animation-name: input-content-focus;
    animation-duration: 0.2s;*/
    top:0%;
/*    color:black;*/
    font-size:0.8em;
}
@keyframes input-content-focus {
    0% {color: gray;top:;50%;font-size:1em}
    60% {color: gray;top:;5%;font-size:0.9em}
    100% {color: black;top:0%;font-size:0.8em}
}
.input-content-empty {
  color:gray;
}
.input-container{
  display: block;
  margin:10px 0px;
}
/*.input-container::before {
  height:100px;
  content:''
}*/
.input-content,input.input-content:focus {
  /*background-color:transparent !important;*/
  background-color:  rgba(158, 158, 158, 0.2) !important;
  width:100%;
  font-size:1em !important;
  border-top-width:0 !important;
  border-left-width:0 !important;
  border-right-width:0 !important;
  border-bottom-width:2px !important;
  padding: 5px;
  /*This should be another class that would be applied by javascript*/
/*  color:black !important;*/
/*  border-style:solid !important;*/
  outline:none !important;
}


