/* Empty. Add your own CSS if you like */
@font-face {
	font-family: funnyfont;
	src:url('../fonts/PoiretOne-Regular.ttf');
}
@font-face {
	font-family: generalfont;
	src:url('../fonts/Lato-Regular.ttf');
}
@font-face {
  font-family: titlefont;
  src:url('../fonts/MontserratAlternates-Regular.ttf');
}
 p,span,div {
	font-family: generalfont;
}
.funny-font{
	font-family: funnyfont;
}
.link
{
  font-weight: 100;
  font-size: small;
  color:#cecece;
}
.link-parent{
	margin:5px 0;
}
.error-msg
{
   color:yellow !important;
   font-size: smaller !important;
   font-style: italic;
   display: block;
}
.change-password .error-msg {
  color:red !important;
}
.app-title{
font-size: 5em;
text-transform: uppercase;
text-align: left;
}

.small-rating{
	font-size: 1.2em;
}
.large-rating{
	font-size: 4em;
}

.button {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.2em;
}
.bg {
	background-image: url('../img/bg.png');
	background-size: cover;
	margin-left: -2px;
}
.app-icon{
	float:right;
	width:25%;
}
.app-icon + *{
	clear: both;
}
.full-height{
	height: 100%;
  overflow-y: scroll;
}
.hero > .content-middle {
  top:50%;
  position:relative;
}
.medium-rating {
	font-size: 2em;
}
.blur{
	background-color: rgba(0, 11, 51, 0.52);
	width:100%;
	height: 100%;
	position: absolute;
}
.popover {
  height: auto !important;
}
.popover ion-header-bar {
  position: relative;
}
.popover ion-content {
  top: 0;
  position: relative;

}
.popover-inner-content {
  width: 100%;
  padding: 5px 20px;

}
button.button.action-sheet-option{
  box-shadow: none;
  padding-left: 18px;
}
.popover-inner-content .list a{
  text-align: right;
    font-size: 1.2em;
    font-weight: bold;
}
.popover .scroll-content{
	overflow: visible!important;
}

.number-circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border:solid 4px ;
  min-width: 1em;
  padding:20px;
  border-radius: 50%;
  vertical-align: middle;
  font-size: 2em;
  background: -webkit-linear-gradient(-120deg, rgba(182, 217, 178, 0.28) 50% ,rgba(108, 173, 173, 0.34) 50%);
  font-weight: 500;

}
.number-circle:before {
  content:'';
  float: left;
  width: auto;
  padding-bottom: 100%;
}
.number-circle-wrapper {
	text-align: center;
}
.center {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.push-message {
  font-size: 1.5em;
  line-height: 1;
}
.button-bar {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.notification-badge {
  position:absolute !important;
  top:25% !important;
  right:25%;
  padding: 5px
}

.ranking-description {
  font-size: medium;
  color:white;
  border-top-width: 2px;
  border-style: solid;
  padding:5px 15px;
}
 .profile-info i{
   font-size: 1.5em;
   padding: 5px;
 }
.twitter.icon{
  color:lightblue;
}
.whatsapp.icon{
  color:limegreen;
}
.facebook.icon{
  color:darkblue;
}
.other.icon {
  color:grey;
}

.assertive-bg .item .card-footer,.assertive-bg .item p,.assertive-bg .item strong{
  color:#fff;
}
div .possible-location{
  float: right;
}
div.col.map,div.row.map {
  padding: 0px !important;
}

.bar-custom, .bar-custom .bar.bar-positive,
.bar-custom .bar.bar-positive:active,
.bar-custom .bar.bar-positive:hover,
 .bar-custom .nav-bar-block ion-header-bar,
 .bar-custom .nav-bar-block ion-header-bar:focus {
        border-color: #fff;
        background-color: #fff !important;
        color: black !important;
}


.bar-custom .bar.bar-positive .button.button-clear {
color: #000;
}